@page "/"

<h1>Hello, famsquad!</h1>

<h3>Ready for Family Game Night on Pi Day?!?</h3>

<img src="pics/famsquad.png" alt="Can-Am Kev-Sam Blended-Fam Road Trip 2018" height="320" width="320"/>

<div class="container">
    <h4>Games</h4>
    <ul>
        <li>Pandemic</li>
        <li>Catan (obviously)</li>
    </ul>
</div>

<div class="container">
    <h4>Prizes</h4>
    <ul>
        <li>Of course!</li>
    </ul>
</div>

<div class="container">
    <h4>Menu</h4>
    <ul>
        <li>Pulled pork sandwiches</li>
        <li>Apple Pie</li>
        <li>Chocolate chip cookies</li>
        <li>Manhattans (over 21 only)</li>
        <li>French 75's (over 21 only)</li>
    </ul>
</div>