@page "/"

<h1>FamSquad Memorial Day Weekend Socially-Distanced COVID-19 Pandemic Picnic!!!</h1>
<div class="container">
    <img src="pics/pandemic-pants.jpg" alt="Sweatpants all weekend!" height="320" width="320"/>
</div>

<div class="container">
    <h4>Menu @*<span class="badge badge-primary">Updated</span> *@</h4>
    <ul>
        <li>Burgers</li>
        <li>Chicken</li>
        <li>Chips</li>
        <li>Grilled veggies</li>
        <li>Faro, Beet, and Chevre salad</li>
        <li>Strawberry shortcake (or maybe pie)</li>
        <li>Chocolate chip cookies</li>
        <li>Soda</li>
        <li>Lemonade</li>
        <li>Beer (21+ only)</li>
        <li>Wine (21+ only)</li>
    </ul>
</div>